//==============================================================================
//
//  resources.rc
//
//==============================================================================
//  Guillaume Plante <codegp@icloud.com>
//  Code licensed under the GNU GPL v3.0. See the LICENSE file for details.
//==============================================================================


#include <windows.h>
100 ICON "../resources/ico/Administrator.ico"

